.kanban
  %header
    .logo
      =image_tag('logo.png')
    %nav
      %ul
        %li=link_to 'Inicio', '#'
        %li=link_to 'Tableros por país', '#'
        %li=link_to 'Únete', '#'
        %li=link_to 'Iniciar Sesión', '#'
  %hgroup
    %h1 Contratos por Delegación: Álvaro Obregón
    %p Lista de Contratos del 2017 asignados a la delegación Álvaro Obregón en la Ciudad de México
  %section.filters
    .block
      %span.custom-dropdown
        %label Delegación:
        %select
          %option Álvaro Obregón
      %span.custom-dropdown
        %label Nivel de gobierno:
        %select
          %option Federal
      %span.search
        %input{placeholder: 'Buscar...'}
    / .block
    /   Status
    /   %input{type: 'radio'} A tiempo
    /   %input{type: 'radio'} Retrasado
  %section.panels
    .panel
      .header
        .action
          =image_tag('icons/action.svg')
        %h3 Planeación
        %small $1,200,330 - 1 proyecto

      .content
        %label{:for => "modal-info"}
          .modal-trigger
            .card
              %h4 Proyecto1
              %span.tag
                A tiempo
              %dl
                %dt Asignado a:
                %dd Sin asignar
                %dt Fecha límite:
                %dd 22 de agosto, 2018
                %dt Cantidad:
                %dd $1,200,330
              .more
                .vote
                  .like
                    =image_tag('icons/like.svg')
                    100
                  .dislike
                    =image_tag('icons/dislike.svg')
                    24
                .owner
                  CD
                .update
                  =image_tag('icons/chart.svg')

    .panel
      =link_to '#' do
        .header
          .action
            =image_tag('icons/action.svg')
          %h3 Licitación
          %small $1,200,330 - 2 proyectos
      .content
        %label{:for => "modal-info"}
          .modal-trigger
            .card
              %h4 Proyecto1
              %span.tag
                A tiempo
              %dl
                %dt Asignado a:
                %dd Sin asignar
                %dt Fecha límite:
                %dd 22 de agosto, 2018
                %dt Cantidad:
                %dd $1,200,330
              .more
                .vote
                  .like
                    =image_tag('icons/like.svg')
                    100
                  .dislike
                    =image_tag('icons/dislike.svg')
                    24
                .owner
                  CD
                .update
                  =image_tag('icons/chart.svg')
              .action
                =link_to 'Convocatoria', '#'
        %label{:for => "modal-info"}
          .modal-trigger
            .card
              %h4 Proyecto1
              %span.tag
                A tiempo
              %dl
                %dt Asignado a:
                %dd Sin asignar
                %dt Fecha límite:
                %dd 22 de agosto, 2018
                %dt Cantidad:
                %dd $1,200,330
              .more
                .vote
                  .like
                    =image_tag('icons/like.svg')
                    100
                  .dislike
                    =image_tag('icons/dislike.svg')
                    24
                .owner
                  CD
                .update
                  =image_tag('icons/chart.svg')
              .action
                =link_to 'Convocatoria', '#'
    .panel
      =link_to '#' do
        .header
          .action
            =image_tag('icons/action.svg')
          %h3 Concesión
          %small $1,200,330 - 1 proyecto
      .content
        %label{:for => "modal-info"}
          .modal-trigger
            .card
              %h4 Proyecto1
              %span.tag
                A tiempo
              %dl
                %dt Asignado a:
                %dd Sin asignar
                %dt Fecha límite:
                %dd 22 de agosto, 2018
                %dt Cantidad:
                %dd $1,200,330
              .more
                .vote
                  .like
                    =image_tag('icons/like.svg')
                    100
                  .dislike
                    =image_tag('icons/dislike.svg')
                    24
                .owner
                  CD
                .update
                  =image_tag('icons/chart.svg')
              .action
                =link_to 'Aplicar a convocatoria', '#'
    .panel
      =link_to '#' do
        .header
          .action
            =image_tag('icons/action.svg')
          %h3 Contrato
          %small $1,200,330 - 1 proyecto
      .content
        %label{:for => "modal-info"}
          .modal-trigger
            .card
              %h4 Proyecto1
              %span.tag
                A tiempo
              %dl
                %dt Asignado a:
                %dd Sin asignar
                %dt Fecha límite:
                %dd 22 de agosto, 2018
                %dt Cantidad:
                %dd $1,200,330
              .more
                .vote
                  .like
                    =image_tag('icons/like.svg')
                    100
                  .dislike
                    =image_tag('icons/dislike.svg')
                    24
                .owner
                  CD
                .update
                  =image_tag('icons/chart.svg')
    .panel
      =link_to '#' do
        .header
          .action
            =image_tag('icons/action.svg')
          %h3 Implementación
          %small $1,200,330 - 1 proyecto
      .content
        %label{:for => "modal-info"}
          .modal-trigger
            .card
              %h4 Proyecto1
              %span.tag
                A tiempo
              %dl
                %dt Asignado a:
                %dd Sin asignar
                %dt Fecha límite:
                %dd 22 de agosto, 2018
                %dt Cantidad:
                %dd $1,200,330
              .more
                .vote
                  .like
                    =image_tag('icons/like.svg')
                    100
                  .dislike
                    =image_tag('icons/dislike.svg')
                    24
                .owner
                  CD
                .update
                  =image_tag('icons/chart.svg')
  %footer
    %nav
      %ul
        %li=link_to 'Aviso de privacidad', '#'
        %li=link_to 'Términos y condiciones', '#'

.modal.modal-info
  %input#modal-info.modal-state{:type => "checkbox"}/
  .modal-fade-screen
    .modal-inner
      .header
        .modal-close{:for => "modal-info"}
        %h1 Proyecto 1
      .modal-content
        .more
          %strong Aprobación
          .vote
            .like
              =image_tag('icons/like.svg')
              100
            .dislike
              =image_tag('icons/dislike.svg')
              24
          %hr
          %strong Propietarios
          .owner S
          .owner D
        %dl
          %dt Asignado a:
          %dd Sin asignar
          %dt Fecha límite:
          %dd 22 de agosto, 2018
          %dt Cantidad:
          %dd $1,200,330
          %dt Status:
          %dd
            %span.tag
              A tiempo
        .description
          %h3 Etapa
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet varius ipsum a cursus. Duis id tristique justo, in maximus risus. Fusce tincidunt felis ac sapien suscipit, quis vehicula diam efficitur. Nullam sapien sem, vulputate at metus et, lacinia molestie mi. Donec nibh sapien, tincidunt sit amet mollis sit amet, sollicitudin a dui. Suspendisse potenti. Integer fringilla molestie mi ac luctus.
        .comments
          %h3 Comentarios
          .comment
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
            .date 1 de mayo, 2017
          .comment
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
            .date 1 de mayo, 2017
          %form
            %textarea{placeholder: 'Escribe un comentario'}
            %input{type:'submit', value: 'Enviar'}
